<div>
    <img src="{{ detailedSong.images.coverart }}" alt="{{detailedSong.title}}">
    <h3>{{ detailedSong.title }}</h3>
    <h4>{{ detailedSong.subtitle }}</h4>
    <iframe src="{{detailedSong.url}}" frameborder="0"></iframe>
</div>