
<div class="music-list-container" [routerLink]="['/song-detail', songData.track.key]">
    <img src="{{ songData.track.images.coverart }}" alt="{{songData.track.title}}">
    <div class="song-text-data">
        <p class="title">{{songData.track.title}}</p>
        <p class="artist">{{songData.track.subtitle}}</p>
    </div>
</div>