.popular-song {
  text-align: center;
  width: 28%;
  min-width: 200px;
  padding: 10px 15px;

  @media screen and (min-width: 767px) {
    width: 10%;
  }

  .img-container {
    position: relative;

    .popular-song-img {
      width: 90%;
      border-radius: 12px;
      padding-bottom: 8px;
    }

    .song-img-bg {
      position: absolute;
      opacity: 0.3;
      top: 10px;
      left: 0;

      filter: blur(14px);
      width: 100%;
    }
  }

  .popular-song-artist {
    color: #b1b1b1;
  }
}
