.song-search-list {
  padding: 0 24px;
}

.pop-songs-row {
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  width: 100vw;
  margin-top: auto;

  @media screen and (min-width: 767px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: unset;
  }
}

.text-center {
  text-align: center;
}
