header {
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  background: linear-gradient(
    135deg,
    rgba(6, 17, 61, 0.5) 20%,
    rgba(67, 15, 67, 0.5) 100%
  );
  
  h3 {
    text-shadow: 
    10px 4px 14px rgb(0, 57, 142),
    -10px -4px 14px rgb(60, 9, 60);
  }
}
